    <footer class="footer">
      <div class="footerInfo">
        <div class="footerInfo-title">
          &copy; 2026 <a href="/">L2Web</a>
        </div>
        <div class="footerInfo-text">
          Lineage II is a trademark of its respective owner. This community project is not affiliated with or endorsed by NCSoft.
        </div>
        <div class="footerInfo-buttons">
          <a href="/info">Privacy Policy</a>
          <a href="/downloads">Refund Policy</a>
          <a href="/info">Terms of Service</a>
        </div>
      </div>

      <div class="footerMenu flex">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/register">Start Game</a></li>
          <li><a href="/register">Create Account</a></li>
          <li><a href="/downloads">Download</a></li>
        </ul>
        <ul>
          <li><a href="/info">Rules</a></li>
          <li><a href="/forgot-password">Support</a></li>
          <li><a href="/news">Community</a></li>
          <li><a href="/info">FAQ</a></li>
        </ul>
      </div>

      <div class="footerRight">
        <div class="socBlock">
          <a href="#" class="dc" aria-label="Discord"></a>
          <a href="#" class="fb" aria-label="Facebook"></a>
          <a href="#" class="yt" aria-label="YouTube"></a>
        </div>
        <div class="dis-logo">
          <img src="/conquer/images/mex-vision.png" alt="">
        </div>
      </div>
    </footer>
  </div>
  <script src="/js/ui.js"></script>
</body>
</html>
