<% if (error) { %>
  <p class="message message-error" data-flash-message><strong>Error:</strong> <%= error %></p>
<% } %>

<% if (message) { %>
  <p class="message message-success" data-flash-message><strong><%= message %></strong></p>
<% } %>
