<% if (error) { %>
  <div class="message message-error">
    <strong>Error:</strong> <%= error %>
  </div>
<% } %>

<% if (message) { %>
  <div class="message message-success">
    <%= message %>
  </div>
<% } %>